<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfPTHjttQfTMrMtmXLegxB3SOfiJ0uODk</string>
	<key>GCM_SENDER_ID</key>
	<string>860956288755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fishingTool</string>
	<key>PROJECT_ID</key>
	<string>fishingtool-c8aaa</string>
	<key>STORAGE_BUCKET</key>
	<string>fishingtool-c8aaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860956288755:ios:4416baf444e6cb9174b986</string>
</dict>
</plist>